.chat-room {
  display: flex;
  flex-direction: row;
  height: 70vh;
  background-color: #ededed;
  padding: 20px;
  box-sizing: border-box;
}

.chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 40px);
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.chat-header {
  background-color: #227697;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
}

.send-message-container {
  padding: 10px;
}
